DISCORD_TOKEN=MTQ5NTQ0MDQ2MzMwNDMzMTMyNA.GOSHL8.DYeOvdUbkriWCQ9Ugapf04oifDPJvRfuXyyGWc
DISCORD_CLIENT_ID=1495440463304331324
DISCORD_CLIENT_SECRET=5Tjebeo5nRh8nWpl613UNQtHnXhk2_X3
BOT_PREFIX=?
BOT_OWNERS=
TOP_GG_TOKEN=
OPENAI_API_KEY=
LOGS_CHANNEL_ID=
VANITY_GUARD_TOKEN=
VANITY_GUARD_URL=
HOME_SERVER_ID=

OWNER_ROLE_ID=
COMMUNITY_MANAGER_ROLE_ID=
ADMIN_ROLE_ID=
DEVELOPER_ROLE_ID=
MANAGER_ROLE_ID=
MODERATOR_ROLE_ID=
STAFF_ROLE_ID=
SUPPORTER_ROLE_ID=
BUGHUNTER_ROLE_ID=
SPECIAL_ONES_ROLE_ID=

MONGODB_URI=mongodb+srv://CodeXmongodb:codexop@codexcluster.tebuglj.mongodb.net/?appName=CodeXCluster

LAVALINK_SEARCH_ENGINE=youtube
LAVALINK_RESUME=true
LAVALINK_RESUME_TIMEOUT=60
LAVALINK_NODE_NAME=main
LAVALINK_NODE_URL=
LAVALINK_NODE_AUTH=
LAVALINK_NODE_SECURE=true

WEBHOOK_URL=
INVITE_URL=
SUPPORT_URL=https://discord.gg/codexdev
GUIDE_URL=https://codexdevs.in

TOTAL_SHARDS=auto
SHARDS_PER_CLUSTER=4
TOTAL_CLUSTERS=auto
